@import "tailwindcss";
@import '@fortawesome/fontawesome-free/css/all.min.css';

body {
  font-family: "Inter", sans-serif !important;
  transition: background 0.4s ease-in-out;
}

body.clean-background {
  background: rgb(36 43 53);
}

body.linktree-background {
  background: url("@assets/linktree.webp") no-repeat center center fixed;
  background-size: cover;
}

.markdown {
  line-height: 1.7;
  font-size: 1rem;
  color: #e0e0e0;
}

.markdown h1,
.markdown h2,
.markdown h3 {
  color: #f0c040;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 1px solid #333;
  padding-bottom: 0.3rem;
}

.markdown h1 {
  font-size: 1.8rem;
}
.markdown h2 {
  font-size: 1.5rem;
}
.markdown h3 {
  font-size: 1.3rem;
}

.markdown p {
  margin-bottom: 1rem;
}

.markdown a {
  color: #f0c040;
  text-decoration: underline;
}
.markdown a:hover {
  color: #ffd966;
}

.markdown ul,
.markdown ol {
  padding-left: 1.5rem;
  margin-bottom: 1rem;
}

.markdown li {
  margin-bottom: 0.5rem;
}

.markdown blockquote {
  border-left: 4px solid #f0c040;
  padding-left: 1rem;
  color: #ccc;
  font-style: italic;
  margin: 1rem 0;
}

.markdown code {
  background-color: #1c1e22;
  color: #00ffcc;
  padding: 2px 6px;
  border-radius: 4px;
  font-family: "Courier New", monospace;
}

.markdown pre {
  background-color: #1c1e22;
  padding: 1rem;
  border-radius: 6px;
  overflow-x: auto;
  margin-bottom: 1.5rem;
}

.markdown img {
  max-width: 100%;
  border-radius: 6px;
  margin: 1rem 0;
}

.glass {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.1);
}

.bg-slate-800\/60:hover {
  box-shadow: 0 0 15px 3px rgba(14, 165, 233, 0.6);
  transform: scale(1.02);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  will-change: transform, box-shadow;
}

.bg-slate-800\/60 {
  background-color: rgb(30 41 59 / 0.6);
}

.linktree-card:hover {
  box-shadow: 0 0 15px 3px rgba(14, 233, 98, 0.6);
  transform: scale(1.01);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  will-change: transform, box-shadow;
}

footer {
  border: 1px solid rgba(255, 255, 255, 0.2);
}
