@import "tailwindcss";
@import '@fortawesome/fontawesome-free/css/all.min.css';

body {
  font-family: "Inter", sans-serif !important;
  transition: background 0.4s ease-in-out;
}

body.clean-background {
  background: rgb(36 43 53);
}

body.linktree-background {
  background: url("@assets/linktree.webp") no-repeat center center fixed;
  background-size: cover;
}

.glass {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.1);
}

.bg-slate-800\/60:hover {
  box-shadow: 0 0 15px 3px rgba(14, 165, 233, 0.6);
  transform: scale(1.02);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  will-change: transform, box-shadow;
}

.bg-slate-800\/60 {
  background-color: rgb(30 41 59 / 0.6);
}

.linktree-card:hover {
  box-shadow: 0 0 15px 3px rgba(14, 233, 98, 0.6);
  transform: scale(1.01);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  will-change: transform, box-shadow;
}

footer {
  border: 1px solid rgba(255, 255, 255, 0.2);
}
